<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact the Ruby on Rails Tutorial about this app at the
  <a href="http://www.railstutorial.org/#contact">contact page</a>. If you want to discuss about customization, contact me at nathangouy@free.fr
</p>